<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route>
        <path>/xml</path>
        <method>GET</method>
        <callback>App\\XMLClass@xmlMethod</callback>
    </route>

    <route>
        <group>
            <prefix>/xml-prefix</prefix>
            <namespace>App</namespace>
            <middlewares>
                <middleware>MiddlewareExampleOne</middleware>
                <middleware>MiddlewareExampleTwo</middleware>
                <middleware>MiddlewareExampleThree</middleware>
            </middlewares>
            <route>
                <path>/test</path>
                <method>GET</method>
                <callback>\\Controllers\\MyClass@myMethod</callback>
            </route>
            <route>
                <group>
                    <prefix>/categories</prefix>
                    <namespace>\\Controllers</namespace>
                    <middlewares>
                        <middleware>MiddlewareOne</middleware>
                        <middleware>MiddlewareTwo</middleware>
                        <middleware>MiddlewareThree</middleware>
                    </middlewares>
                    <route>
                        <path>/a</path>
                        <method>GET</method>
                        <callback>App\\MyClass@myMethod</callback>
                    </route>
                    <route>
                        <path>/b</path>
                        <method>GET</method>
                        <callback>App\\MyClass@myMethod2</callback>
                    </route>
                </group>
            </route>
        </group>
    </route>
</routes>